<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
    <h3>Edit Your Listing</h3>
    <form method="POST" action="/listings/<%=listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label"></label>
            <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
            <div class="valid-feedback">New Title Looks really Cool</div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label"></label>
            <textarea name="listing[description]" rows="10" cols="20" class="form-control" required><%= listing.description %></textarea> 
            <div class="valid-feedback">Shorter and Cooler</div>
        </div>

        <div class="mb-3">
            <b> Original Listing Image </b></br></br>
            <img src="<%=originalImageUrl%>" class="img">
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image</label>
            <input type="file" name="image" class="form-control">
            <div class="valid-feedback">Cool pic</div>
        </div>

        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label"></label>
            <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required>
            <div class="valid-feedback">Good Price again</div>
        </div>


        
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label"></label>
            <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required>
            <div class="invalid-feedback">Invalid Country</div>
        </div>
        
        </div>

        <div class="mb-3">
            <label for="location" class="form-label"></label>
            <input name="listing[location]" value="<%= listing.location %>" class="form-control" type="text" required>
            <div class="invalid-feedback">Invalid Location</div>
        </div>

        <button class="btn btn-dark edit-btn mt-3">Edit</button>
        <br>
        <br>

    </form>
</div>
</div>